{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/materialize/css/materialize.css' %}">
<script src="{% static 'mainapp/materialize/js/materialize.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dados COVID-19</title>
</head>
<body>

        <div class="row">
            <div class="col s12 m12 l12" style="padding-bottom:5%"></div>
            <div class="col s12 m12 l12" style="text-align:center;">
                Inicio
            </div>

        </div>

</body>
</html>